*{
    /* Asterisco es para toda la pagina */
    margin: 0px; /* Margin para que no haya espacios */
    padding: 0px; /* Para que se separe de los bordes */
    

}

body{
    padding: 40px; /* Para que se separe de los bordes de todo el body */
    
}

#cajas{
    max-width: 1035px; /* Ancho maximo de pantalla */
    border: 1px solid black; /* Borde tama単o tipo color */

}

.caja{
    /* Se comporta como una caja, SI TUVIERA ENLACES DEBEIRA PONER display: inline-block; */
    display: block; /* display: none; desaparece el elemento o lo saca del flujo de flotado  */
    width: 250px; /* Anchura */
    height: 250px; /* Altura */
    background-color: lightblue;
    border: 10px solid red; /* Borde = Tama単o tipo y color */
    margin: 15px auto 15px 25px; /* Le da los margenes por fuera */
    padding: 20px; /* le da un margen por dentro de 20px */
    padding-bottom: 34px; /* le da un espacio a la parte de abajdo de las cajas */

    float: left; /* Se mueven todas las cajas hacia la izquierda hasta que se ocupe el tama単o del margen general y cuando el programa ve que ya no caba otra caja; la manda para abajo*/
    /*float: none; Lo que hace es dejar las tabla tal y como estaban antes, osea que el float: left ya no tiene efecto */


}

.caja p{
    font-weight: bold; /* El grosor de la letra */
    text-align: center; /* Centra el texto */
    font-size: 20px; /* Tama単o de letra */
    font-family: Arial, Helvetica, sans-serif; /* Tipo de letra, en este caso es Arial porque es el primero */
    line-height: 250px; /* Coloca el texto a la mitad del cuadro */   

}

.clearfix{
    float: none; /* vuelva todo por defecto */
    clear: both; /* limpia los flotados */
}