body{
    font-family: sans-serif;
    text-align: center;
}

#layout{
    /* Porcentaje para que se haga responsive */
    width: 80%;
    height: 400px;
    margin: 0px auto;
    display: grid; /* Se le esta aplicando GRID  todos los elementos del layout
    Es decir que se van a colocar como una COLUMNA, con flex es en FILA */
    grid-gap: 10px; /* lo que hace es darle un esapcio entre cada caja de 10px osea que las va a separar */
    border: 3px solid orangered;
    padding: 10px;
    
    /* con GRID-TEMPLATE-COLUMNS: Puedo definir n columnas y tenemos que indicar el tamaño de cada columna con su unidad de medida */
    /*grid-template-columns: 50% 50% ; /* Defino dos columnas y van a ocupar el 50% de cada lado (Esta es la forma simple) */
    /*grid-template-columns: calc(50% - 10px) calc(50% - 10px); /* En este caso se va a usar CALC que nos permite calcular un espacio del 50% menos 10px de cada lado */
    /*grid-template-columns: calc(25% - 10px) calc(25% - 10px) calc(25% - 10px) calc(25% - 10px);*/
    /*grid-template-columns: repeat(4, calc(25% - 10px)); /* Esto es lo mismo pero de forma reducida */
    /*grid-template-columns: repeat(2, 25% 15%); /* tambien se puede agregar los porcentajes de cada columna, de esta forma. */

    /* Otra forma de usar grid es definir las columnas por fracciones, por ejemplo: */
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(2, 1fr);/*

    /* Con GRID tambien podemos trabajar las filas */
    grid-template-rows: 1fr 1fr 3fr;



}

#layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid black;
    background-color: gray;

}

#layout .red{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
}

#layout .green{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: green;
}

#layout .blue{
    background-color: blue;
}

#layout .pink{
    background-color: pink;
}

#layout .orangered{
    background-color: orangered;
}

#layout .orange{
    /*grid-column-start: 1;
    grid-column-end: 3;*/
    grid-column: 2/3;/* Esta es otra forma mas reducida de trabajar grid, estamos diciendo que vamos a cambiar el tamaño de la 2 a las 3 */
    background-color: orange;
}