*{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    font-size: 20px;
}

/* La PSEUDOCLASE me va a poner todo esto en primera lista  */
ul li:first-child{ /* First-child: Toma unicamente el primero de la lista */
    color: blueviolet;
    font-weight: bold; /* Me coloca el texto en NEGRITA */
}

/* nth-child: Esta pseudoclase me permite elegir un elemento de la lista, estableciendo el numero entre parentesis */
ul li:nth-child(2){
    color: brown;
    font-weight: bold;
}

/* LAST-CHILD: me va a seleccionar unicamente al ultimo elemento de la lista */
ul li:last-child{
    color: green;
    font-size: bold;
}

/* Si yo nunca he entrado a este enlace, me lo va poner en color rojo */
#mi-enlace:link{
    color: red;
    font-size: 30px;
}

/* Si yo ya visite este enlace, me lo pondra de color verde oscuro */
#mi-enlace:visited{
    color: darkgreen; 
}

.nav_links{
    background-color: red;
}

/* Target: captura la accion del enlace de donde hacemos clic */
.nav_links:target{
    background-color: blue;
}

/* :root Esto indica la raiz del documento, es lo mismo que escribir html{}, pero este es mas especifico */
:root{
    --blue: blue; /* de esta forma es como podemos crear variable en CSS */
}

h1{
    color: var(--blue);
}

/* PSEUDOELEMENTOS se señala con :: por ejemplo p::selection seria que la etiqueta p si la pintamos con el mouse hacia tal cosa. tambienesta el ::first-line seria la primer linea del parrafo
::first-letter la primer letra del parrafor
tambien tenemos el ::placeholder para un input ejemplo input[type="text"]::placeholder
::before significa poner tal cosa como antes del contenido del elemento en cuestion
::after seria despues y la forma de ingresar el contenido es con content si o si content hay que agregarlo, autuq no se ponga nada de texto, despues se puede agregar un elemento si es necesario */

/* En este caso, cuando seleccionamos el texto con el mouse, la seleccion ya no va a ser azul, sino ahora azul violeta */
/*p::selection{ 
    background-color: blueviolet;
}*/

/*En este caso, me marca toda la primera linea del parrafo y lo marca de color aquamarine. */
/*p::first-line{
    background-color: aquamarine;
}*/

/* En este caso, solo me marca la primera letra del parrafo */
/* p::first-letter{
    background-color: rgb(0, 255, 21);
}*/

input[type="text"]::placeholder{
    color: brown;
}
