/* ########## SELECTORES ######## */

/* SELECTOR UNIVERSAL */

*{
    font-family: Verdana, Arial, Tahoma, sans-serif; /* Define una lista de fuentes o familias de fuentes 
    con un orden de prioridad, para utilizar en un elemento seleccionado.
    a diferencia de la maroria de las propiedades CSS, los valores se separan con comas, para indicar que son valores alternativos.
    */

}

header h1{
    background: blue;
    color: white;
    padding: 10px;
}

section h1{
    background: red;
    color: beige;
    padding: 10px; /* para establecer valores para el grosor del area de relleno, para que se separe de los bordes*/
    
}

a{
    font-size: 18px; /* Cambia el tamaño de letra */
    color: green;
    text-decoration: none; /*Elimina el subrayado de las letras*/

}

footer a{
    color: red;
}

#description, /*De esta forma es como estamos tomando los ID's*/
#titulo
{
    border: 5px solid purple;
    padding: 10px;
}

#titulo {
    background: orange;
    border: 2px dashed greenyellow;
}

/* SELECTOR DE CLASES */

.parrafo2{
    font-style: italic; /* La propiedad FONT-STYLE permite definir el aspecto de una familia tipografica entre los valores: normal, italic (cursiva), y oblique*/
    /* text-decoration: underline;*/
    font-weight: bold; /*Especifiac el grozor de la letra (Negrita), algunos tipos de letras solo estan disponibles en NORMAL o BOLD*/

}

.parrafo1, .parrafo3{
    background-color: green;
    color: white;
    padding: 10px;
}

.parrafo3{
    background-color: yellow;
    color: black;
}

/* SELECTOR DE ATRIBUTO */

#usuario form{
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#usuario form *{
    display: block; /* Cada elemento va a estar en una sola linea para el solo */
}

/* Con esto ^ le digo... los que al principio tengan www */

a[href^="www"]{
    color: rgb(137, 213, 79);
}

/* Con esto $ le digo... los que al final tengan es*/

a[href$="es"]{
    color: rgb(212, 128, 86);
}

/* Con esto * le digo... cualquier elemento que tengo javier */

a[href*=javier]{
    color: rgb(0, 139, 30);
}


input[type= "text"]{
    margin-bottom: 15px; /* Le da el espacio entre cada elemento */
    padding: 10px;
    width: 300px;
}

input[type="submit"]{
    background: green;
    color: white;
    padding: 15px;
    text-transform: uppercase;/* Convierte el texto en mayusculas */
    border: 3px solid brown; /*agrega un borde o marco de color negro solido*/
    cursor: pointer; /* cuando pasa el cursor por encima del boton, se combierte en una manita*/

}
